{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secured page</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to home page !</h1>
        <p>This is a secured page. You are logged in as:</p>
        <h3>{{ user.username }}</h3>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    </div>
</body>
</html>