{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="container">
        <h1>Login page</h1>
        <form method="post">
            {% csrf_token %}
            <p>Username: {{ form.username }}</p>
            <p>Password: {{ form.password }}</p>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
</body>
</html>